.main{
    font-family: clash-font;
    width: 100%;
    height: 15%;
    background-color: #06245c;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.container1{
    width: 30%;
    display: flex;
    font-size: 12px;
    justify-content: start;
}

.title{
    color: white;
}

.container2{
    width: 70%;
    display: flex;
    justify-content: end;
}

.shortcut1{
    
}

.contact{
    font-size: 12px;
}

.a{
    text-decoration: none;
}