
.main {
    font-family: clash-font;
    width: 100%;
    height: 15%;
    background-color: #06245c;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start; 
}

.container1{
    width: 30%;
    display: flex;
    font-size: 12px;
    justify-content: flex-start; 

}
.contact4{
    margin-left: 1rem;
    font-size: 12px;
    color: white;
}
.contact3{
    margin-left: 0.7rem;
    font-size: 12px;
    color: white;
}
.title{
    margin-top: 3.8%;
    color: white;
}

.container2{
    width: 70%;
    display: flex; 
    justify-content: flex-end;
    gap: 2.5rem;
}


.contact{
    font-size: 12px;
    color: white;
}
.a{
    text-decoration: none;
}
.a2 {
    text-decoration: none;  
    background-color: #f0c44e;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 #ff8907, 0 0 0 4px #ffa80c, 0 1px 0 4px #ffa80c, 0 -1px 2px 4px #ffd525, 0 -2px 0 5px #f4e684, 0 6px 0 4px #b06904, 0 3px 0 5px #f4e684, 0 -2px 0 7px #202020, 0 5px 0 7px #202020, 0 7px 0 7px #333;
    color: #ffc;
    font-size: 10px;
    text-shadow: -1px 2px 0 #582d00,0 2px 0 #582d00,1px 2px 0 #582d00,-1px -1px 0 #582d00,1px -1px 0 #582d00,-1px 1px 0 #582d00,1px 1px 0 #582d00;
}

.a2:active {
    box-shadow: 0 -2px 3px 0 #ff8907,0 0 0 4px #ffa80c,0 -1px 0 4px #ffa80c,0 -1px 2px 4px #ffd525,0 -2px 0 5px #f4e684,0 6px 0 4px #b06904,0 3px 0 5px #f4e684,0 -2px 0 7px #202020,0 5px 0 7px #202020,0 7px 0 7px #333;
    text-shadow: -1px -1px 0 #582d00,1px -1px 0 #582d00,-1px 1px 0 #582d00,1px 1px 0 #582d00
}
.a3{
    text-decoration: none;
    border: none;
    display: flex;
}
.divbutton2{
    display: flex;
}

.image{
    margin-left: 0.8rem;
}

.divbutton1{
    margin-top: 1rem;
}

.image1{
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;
}

.contact2{
    font-size: 12px;
    color: white;
    margin-top: -10%;
}


@media (max-width: 768px) {
    .main{
        flex-direction: column;
        height: 20%;
    }

    .container1{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .container2 {
        width: 100%;
        margin: 0;
        gap: 0.5rem;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: -8rem;
    }
    .contact4{
        display: none;
       
    }
    .contact3{
        display: none;
       
    }
    .contact{
       display: none;
    }
    .contact2{
        display: none;
     }

    .divbutton2{
        display: flex;
        gap: 1rem;
        margin-right: 0.5rem;
    }

    .divbutton1{
        margin-top: 0.5rem;
        margin-bottom: 10rem;
    }
    .a2{
        width: 100%;
    }
    .image1{
        margin-left: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .contact2{
        font-size: 12px;
        color: white;
        margin-top: -10%;
    }
    .shortcut10{
        display: none;
    }
}
