.main{
    font-family: clash-font;
    width: 100%;
    height: 15%;
    background-color: rgb(8, 3, 57);
}

.icones{
    display: flex;
}

.title{
    color: white;
    font-size: 25px;
    margin-top: 1.8%;
}

.imagemain{
    margin-top: 1.3%;
}