.mainBg{
    background-image: url("../../public/images/fundoazulcards.png");
    background-repeat:repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
}
.main22{
    min-height: 100vh;
}
.card{
    width: 11rem;
    height: 11.15rem;
    margin: 1rem;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.title{
    color: white;
    text-shadow: -0.2px 3px 0 #0070f3,0 4px 0 #0070f3,1px 2px 0 #0070f3,-1px -1px 0 #0070f3,1px -1px 0 #0070f3,-1px 1px 0 #0070f3,1px 1px 0 #0070f3;;
    
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;

}
.containerImage{
    padding-top: 0.90rem;
}
.containerCard{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.cardName{
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 0 #000,0 2px 0 #000,1px 2px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    text-align: center;
    font-size: 11px;
    margin-bottom: 1rem;
}
.cardType{
    color: rgb(255, 255, 255);
    text-shadow: -1px 2px 0 #000,0 2px 0 #000,1px 2px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    text-align: center;
    font-size: 7px;
}

.containerButtons{
    display: flex;
}
.linkremove{
    text-decoration: none;

}
.buttonEdit{
    background-color: transparent;
    border: none;
    outline: none;
}
.buttonEdit:hover{
    cursor: pointer;
}
.buttonDelete{
    background-color: transparent;
    border: none;
    outline: none;
}
.buttonDelete:hover{
    cursor: pointer;
}

.containerFilters {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .containerSearch{
      padding: 0.75rem;
      margin: auto;
      margin-bottom: 1rem;
    width: fit-content;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
  }
  
  .select {
    padding: 0.75rem;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
  }

  
  .select {
    min-width: 6rem;
  }
  .searchbtn{
    background-color: transparent;
    outline: none;
    border: none;
  }
 .search{
    background-color: transparent;
    outline: none;
    border: none;
 }
 .icon{
    width: 1.2rem;
    height: 1.2rem;
 }
  .icon:hover{
    transform : scale(1.1);
    transform: ease-in-out;
    background-color: transparent;
    cursor: pointer;
  }
  
  .scbtnred {
    padding: 0.4rem;
    border-radius: 5px;
    background-color: #fc4144;
    box-shadow: 0 0 3px 0 #fc4144,0 0 0 4px #e72424,0 1px 0 4px #e72424,0 -1px 2px 4px #fe4a5d,0 -2px 0 5px #ec8a95,0 6px 0 4px #9c1414,0 3px 0 5px #9c1414,0 -2px 0 7px #202020,0 5px 0 7px #202020,0 7px 0 7px #333;
    color: #fff;
    border: none;
    text-shadow: -1px 2px 0 #000,0 2px 0 #000,1px 2px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000
}
.scbtnred:hover{
    transform : scale(1.05);
    transform: ease-in-out;
}

.scbtnred:active {
    box-shadow: 0 0 3px 0 #fc4144,0 0 0 4px #e72424,0 -1px 0 4px #e72424,0 -1px 2px 4px #fe4a5d,0 -2px 0 5px #ec8a95,0 6px 0 4px #9c1414,0 3px 0 5px #9c1414,0 -2px 0 7px #202020,0 5px 0 7px #202020,0 7px 0 7px #333;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    
}
  
.containerS{
    position: absolute;
    top: -10px;
    right: -5px;
    
}   
.containerScrolls{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 3px;
    top: 44%;
    z-index: 999;
}
.containerScrolls button{
    margin: 0.75rem;
    background-color: #ffa80c;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 #ff8907, 0 0 0 4px #ffa80c, 0 1px 0 4px #ffa80c, 0 -1px 2px 4px #ffd525, 0 -2px 0 5px #f4e684, 0 6px 0 4px #b06904, 0 3px 0 5px #f4e684, 0 -2px 0 7px #202020, 0 5px 0 7px #202020, 0 7px 0 7px #333;
    color: #ffc;
    font-size: 20px;
    text-shadow: -1px 2px 0 #582d00,0 2px 0 #582d00,1px 2px 0 #582d00,-1px -1px 0 #582d00,1px -1px 0 #582d00,-1px 1px 0 #582d00,1px 1px 0 #582d00;
}
.containerScrolls button:hover{
    cursor: pointer;
    color: #c8c8c8;
}
.containerFooter{
    position: absolute;
    width: 100%;
}

@media (max-width: 768px){
    .containerCard{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: auto;
    }
    .containerFilters{
        display: flex;
        flex-direction: column;
    }
    .containerFilters select{
        width: 72%;
    }
    .containerFilters input{
        width: 72%;
    }
    .search{
        width: 75%;
    }
    .containerSearch {
        width: 72%;
    }
    .icon{
        margin-left: 2.0rem;
    }

    .card{
        width: 5rem;
        height: 10rem;
        margin: 5px;
        margin-bottom: 30px;
        min-width: 7.5rem;
        padding-bottom: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        position: relative;
        
    }
    .card p{
        font-size: 10px;
        margin: 0;
        padding: 10px;
    }
    .containerScrolls{
      display: none;
}
}