.card{
    width: 11rem;
    height: 11rem;
    margin: 1rem;
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    position: relative;
}
.title{
    color: white;
    text-shadow: -0.2px 3px 0 #0070f3,0 4px 0 #0070f3,1px 2px 0 #0070f3,-1px -1px 0 #0070f3,1px -1px 0 #0070f3,-1px 1px 0 #0070f3,1px 1px 0 #0070f3;;
    
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem;

}
.containerImage{
    padding-top: 0.90rem;
}
.containerCard{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.cardName{
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 0 #000,0 2px 0 #000,1px 2px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    text-align: center;
    font-size: 11px;
    margin-bottom: 1rem;
}
.cardType{
    color: rgb(255, 255, 255);
    text-shadow: -1px 2px 0 #000,0 2px 0 #000,1px 2px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    text-align: center;
    font-size: 7px;
}

.containerButtons{
    display: flex;
}
.buttonEdit{
    cursor: pointer;
}
.buttonDelete{
    cursor: pointer;
}
.containerS{
    position: absolute;
    top: -10px;
    right: -5px;
    
}