.card{
    border: 1px solid black;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: relative;
}
.containerCard{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.cardName{
    font-size: 10px;
    text-align: center;
}

.containerButtons{
    display: flex;
}
.containerS{
    position: absolute;
    top: -5px;
    right: -5px;
    
}