.bg{
    background-image: url("../../../public/images/fundoazul.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.Link{
    text-decoration: none;
}
.botaovoltar {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-decoration: none;  
    text-align: center;
    width: 16%;
    background-color: #f0c44e;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 #ff8907, 0 0 0 4px #ffa80c, 0 1px 0 4px #ffa80c, 0 -1px 2px 4px #ffd525, 0 -2px 0 5px #f4e684, 0 6px 0 4px #b06904, 0 3px 0 5px #f4e684, 0 -2px 0 7px #202020, 0 5px 0 7px #202020, 0 7px 0 7px #333;
    color: #ffc;
    font-size: 10px;
    cursor: pointer;
    text-shadow: -1px 2px 0 #582d00,0 2px 0 #582d00,1px 2px 0 #582d00,-1px -1px 0 #582d00,1px -1px 0 #582d00,-1px 1px 0 #582d00,1px 1px 0 #582d00;
}
.titulo{
    color: white;
    text-shadow: 0 0 15px #000000;
    margin-bottom: 1rem;
}
.botaovoltar:hover{
    cursor: pointer;

}
.main22{
    min-height: 100vh;
}
.botaovoltar:active {
    box-shadow: 0 -2px 3px 0 #ff8907,0 0 0 4px #ffa80c,0 -1px 0 4px #ffa80c,0 -1px 2px 4px #ffd525,0 -2px 0 5px #f4e684,0 6px 0 4px #b06904,0 3px 0 5px #f4e684,0 -2px 0 7px #202020,0 5px 0 7px #202020,0 7px 0 7px #333;
    text-shadow: -1px -1px 0 #582d00,1px -1px 0 #582d00,-1px 1px 0 #582d00,1px 1px 0 #582d00;
}

.divforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: rgb(23, 26, 83);
    padding: 1rem;
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 2px solid #f0c44e;
    box-shadow: 0 0 0 4px #f0c44e;
}

.divbutton1{
    margin: auto;
    width: 20%;
}

.inputs {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 2rem;
    outline: none;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px #76e6ff;
}

.inputs:focus {
    border: 2px solid #f0c44e;
    box-shadow: 0 0 0 3px #f0c44e;
    border: none;
    outline: none;
}

.inputs:hover {
    border: 1px solid #f0c44e;
    border: none;
    box-shadow: #f0c44e;
    outline: none;
}

.botaocadastro {
    text-decoration: none;  
    background-color: #f0c44e;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 #ff8907, 0 0 0 4px #ffa80c, 0 1px 0 4px #ffa80c, 0 -1px 2px 4px #ffd525, 0 -2px 0 5px #f4e684, 0 6px 0 4px #b06904, 0 3px 0 5px #f4e684, 0 -2px 0 7px #202020, 0 5px 0 7px #202020, 0 7px 0 7px #333;
    color: #ffc;
    font-size: 10px;
    cursor: pointer;
    text-shadow: -1px 2px 0 #582d00,0 2px 0 #582d00,1px 2px 0 #582d00,-1px -1px 0 #582d00,1px -1px 0 #582d00,-1px 1px 0 #582d00,1px 1px 0 #582d00;
}

.botaocadastro:active {
    box-shadow: 0 -2px 3px 0 #ff8907,0 0 0 4px #ffa80c,0 -1px 0 4px #ffa80c,0 -1px 2px 4px #ffd525,0 -2px 0 5px #f4e684,0 6px 0 4px #b06904,0 3px 0 5px #f4e684,0 -2px 0 7px #202020,0 5px 0 7px #202020,0 7px 0 7px #333;
    text-shadow: -1px -1px 0 #582d00,1px -1px 0 #582d00,-1px 1px 0 #582d00,1px 1px 0 #582d00;
}

.errormessage {
    color: #e42424;
    font-size: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}