.customFooter {
  background-color: rgb(238, 238, 238);
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.footerContainer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLink {
  color: rgb(171, 171, 171);
  text-decoration: none;
  font-size: 14px;
}

.footerLink:hover {
  text-decoration: underline;
}