.rodape {
  background-color: #06245c;
  color: white;
  width: 100%;
  font-size: 11px;
  font-family: helvetica;
  margin-bottom: -5px;
}

.hovercarta {
  cursor: pointer;
}

.titulos {
  font-family: clash-font;
  font-size: 16px;
}

.rodape a {
  text-decoration: none;
  color: white;
}

.link {
  color: #fff;
  text-decoration: none;
}

.home {
  color: white;
  font-size: 11px;
  font-family: helvetica;
}

.home:hover {
  color: white;
  font-size: 13px;
  font-family: helvetica;
  transition: 1s;
}

.rodape p {
  margin-bottom: 5px;
}

.rodapediv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    padding: 12px 6px;
  }

  .rodapediv1,
  .rodapediv2,
  .rodapediv3,
  .rodapediv4 {
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
  }

.rodape span {
  font-size: 20px;
  color: white;
}


.rodapedireitos {
  background-color: rgb(8, 3, 57);
  padding: 20px;
  text-align: center;
}

.linktree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #fff;
}

@media (max-width: 768px) {
  .rodapediv1,
  .rodapediv2,
  .rodapediv3,
  .rodapediv4 {
    width: calc(50% - 20px);
    padding: 10px;
  }

  .rodapediv {
    padding: 40px 0; 
  }

  .rodapedireitos {
    padding: 10px; 
  }
}