/* SeuArquivoDeEstilos.module.css */

.main {
    position: relative;
    font-family: Arial, sans-serif;
    width: 200px; /* Ajuste a largura conforme necessário */
  }
  
  .select {
    padding: 1rem;
    width: 20rem;
    background-color: rgb(225, 221, 215);
    cursor: pointer;
  }
  
  .selectUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 20rem; 
    width: 20rem;
    overflow-y: auto; 
    border-top: none;
  }
  
  .selectUl li {
    border: 1px solid #020202;
    border-radius: 4px;
    text-align: start;
    font-size: 13px;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .selectUl li:hover {
    background-color: #f0f0f0;
  }
  
  .selectUl img {
    width: 34px;
    height: 34px;
    margin-right: 10px;
  }
  