@font-face {
  font-family: "clash-font";
  src: url("/font/fontClash.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: "clash-font";
    box-sizing: border-box;
    scroll-behavior: smooth;
  }