.container {
    background-image: url("../../../public/images/fundoazul.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

/* titulos ou escritas */
.name {
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    margin: 0 auto;
    margin-bottom: 10%
}

.description {
    max-width: 400px;
    margin-top: 4%;
    flex: 1;
    text-shadow: 1px 2px 1px rgba(1, 1, 1, 1);
}

.info {
    font-size: 1rem;
    position: relative;
    top: -3.5rem;
    margin-left: 24%;
    color: rgb(22, 22, 53);
}

.obj {
    font-size: 1.2rem;
    margin-left: 24%;
    color: white;
    position: relative;
    top: -3.5rem;
    text-shadow: 0 3px 1px rgba(1, 1, 1, 1);
}

/* imagens */
.imgIcon {
    background-color: rgba(73, 73, 73, 0.729);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.imgCard {
    margin-left: 6%;
    margin-bottom: 2%;
}

/* divs */
.cardDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.infosCartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(210, 210, 210);
    border: solid 1vw rgb(179, 179, 202);
    box-shadow: -0.4vw 0.3vw 0.1vw -0.1vw rgba(0, 0, 0, 0.43);
    border-radius: 1.5vw;
    width: 85%;
    margin: 0 auto 4px auto;
}

.containerTeT {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.fundoR {
    background: linear-gradient(to right, #a7cfea, #508afc);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 19px;
    padding: 10px;
    position: relative;
    box-shadow: 0 1px 10px rgba(13, 13, 13, 1.2);
    color: #002850;
}

.fundoR::before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    border: 10px solid transparent;
    border-left-color: #002850;
}
.fundoInfo {
    background-color: #002850;
    color: #a7cfea;
    padding: 10px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
.cardinfo {
    margin: auto auto auto auto;
    width: 40%;
    height: 80px;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 250);
    border-radius: 1vw;
    box-shadow: -0.4vw 0.3vw 0.1vw -0.1vw rgba(0, 0, 0, 0.43);
    margin-bottom: 2%;
}
.minicards {
   width: 80%;
   text-align: center;
   margin-right: -26%;
   margin-bottom: 2%;
}
@media (max-width: 768px) {
    .infosCartas {
        flex-direction: column;
        align-items: center;
    }

    .cardinfo {
        width: 80%;
        margin-bottom: 2rem;
    }
}