 /* todo o return */
 .container {
     background-image: url("../../../public/images/fundoazul.png");
     background-repeat: repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     height: 100%;
     display: flex;
     flex-direction: column;
     color: white;
 }

 /* titulos ou escritas */
 .name {
     position: relative;
     right: 45%;
        top: 10px;
     font-size: 30px;
     font-weight: bold;
     text-align: center;
     text-shadow: 1px 4px 1px rgba(1, 1, 1, 1);
 }

 .descricao {
     margin-left: 35%;
     position: relative;
     top: -60px;
 }

 .info {
     color: rgb(22, 22, 53);
     font-size: 14px;
     margin-left: 24%;
     position: relative;
     top: -64px;
 }

 .obj {
     color: white;
     text-shadow: 0 3px 1px rgba(1, 1, 1, 1);
     font-size: 16px;
     margin-left: 24%;
     position: relative;
     top: -58px;
 }


 /* imagens */
 .imgIcon {
     background-color: rgba(73, 73, 73, 0.729);
 }

 .imgCard {
     position: relative;
     top: 40px;
     left: 90px;
 }

 .cardinfo img {
     margin-left: -4px;
     margin-top: -4.5px;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
 }


 /* divs */
 .infosCartas {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     background-color: rgba(210, 210, 210);
     border: solid 15px rgb(179, 179, 202);
     box-shadow: -4px 3px 1px -1px rgba(0, 0, 0, 0.43);
     -webkit-box-shadow: -4px 3px 1px -1px rgba(0, 0, 0, 0.43);
     -moz-box-shadow: -4px 3px 1px -1px rgba(0, 0, 0, 0.43);
     border-radius: 15px;
     width: 85%;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     bottom: 4px;
 }

 .minicards {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 30%;
     margin-left: 10px;
 }

 .minicard {
     width: 100%;
     margin-bottom: 10px;
 }

 .fundoR {
     background: linear-gradient(to right, #a7cfea, #508afc);
     border-top-left-radius: 10px;
     border-bottom-left-radius: 4px;
     border-top-right-radius: 19px;
     padding: 10px;
     box-shadow: 0 1px 10px rgba(13, 13, 13, 1.2);
     color: #002850;
 }

 .containerTeT {
     display: flex;
     flex-direction: row;
     justify-content: center;

 }

 .fundoInfo {
     background-color: #002850;
     color: #a7cfea;
     padding: 10px;
     width: 100%;
     border-top-left-radius: 3px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
 }

 .cardinfo {

     margin: auto auto auto auto;
     width: 50%;
     height: 51%;
     background-color: rgb(226, 226, 250);
     border-radius: 10px;
     box-shadow: -4px 3px 1px -1px rgba(0, 0, 0, 0.43);
     -webkit-box-shadow: -4px 3px 1px -1px rgba(0, 0, 0, 0.43);
     -moz-box-shadow: -4px 3px 1px -1px rgba(0, 0, 0, 0.43);
 }

 /* responsividadde*/
